@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #e16262;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dad6d0;
    --foreground: #ced5ea;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  @apply py-2 px-5 bg-lime-500 text-white font-semibold rounded-full shadow-md hover:bg-orange-400;
} 

